<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>Tabbed List View Template</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1,  minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="common/css/app.min.css">
<script src="common/js/jQuery2.0.2.min.js"></script>
<script src="common/js/main.min.js"></script>

</head>

<body>

<div class="app-wrapper">

<nav class="main-menu">
<h1>  Sort By:</h1>
<a href="#">Distance</a>
<a href="#">Time</a>
<a href="#">Professor</a>
<a href="#">Friends</a>


</nav><!--#main-menu-->

<header>
<div class="main-menu-button main-menu-button-left"><a class="menu">&nbsp;</a></div>
<div class="main-menu-button main-menu-button-right"> <a class="gear" href = "Settings">&nbsp;</a></div>
<h1>CampuStudy</h1>
</header>

<div class="app-content">

<div class="tabbed-list-view-nav">
{{#each owner}}
<a href="#" class="span-33 on"> {{course}}</a>
{{/each}}
<div class="tabbed-list-view-nav-arrow">&nbsp;</div>

</div>


<div class="detail-view-header left-thumb with-action-panel">
    <div class="content">
            <a href = "mapview2" >&nbsp; Map </a>
           <!-- <a href="#" class="action-map open-modal">&nbsp;</a></a>-->
    </div><!--.content-->
</div><!--.detail-view-header-->


<ul class="tabbed-list-view">
 <!-- for each session, if {{couse}} == correct class, do this -->   
<li>
    <ul class="list-view left-thumbs right-one-icons">
  
    {{#each cse12}}
        <li>
            <a href="detailview1" class="content">
                <h2>{{name}} </h2>
                <p>Location: {{location}}</p>
                <p> Time left: {{timeleft}}</p>
                <p>Professor: {{professor}}</p>
                <div class="list-view-icons">
                    <span class="icon-right-arrow">&nbsp;</span>
                </div>
            </a> 
        </li>
    {{/each}}
<!-- End listing for specific course -->
    </ul>
</li>


<li>
    <ul class="list-view left-thumbs right-one-icons">
        {{#each phys2a}}
        <li>
            <a href="#" class="content">
                <h2>{{name}} </h2>
                <p>Location: {{location}}</p>
                <p> Time left: {{timeleft}}</p>
                <p>Professor: {{professor}}</p>
                <div class="list-view-icons">
                    <span class="icon-right-arrow">&nbsp;</span>
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
</li>

<li>
    <ul class="list-view left-thumbs right-one-icons">
        {{#each cogs120}}
        <li>
            <!--<div class="thumbs">
                <a href="#" class="thumb thumb-1"><img class="thumb" src="common/images/icons/tile-phone.png" ></a>
                <a href="#" class="thumb thumb-2"><img class="thumb" src="common/images/icons/tile-email.png" ></a>
                <img class="thumb thumb-3" src="common/images/placeholders/contact-1.png">
            </div><! .thumbs -->
            <a href="#" class="content">
                <h2>{{name}} </h2>
                <p>Location: {{location}}</p>
                <p> Time left: {{timeleft}}</p>
                <p>Professor: {{professor}}</p>
                <div class="list-view-icons">
                    <span class="icon-right-arrow">&nbsp;</span>
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
</li>




</ul><!--.tabbed-list-view-->
    
</div><!--#app-content-->

    <div class = "mysessions2">
      <a href="sessions">
        <div class="footer2">My Sessions</div>
      </a>
    </div>
</div><!--#app-wrapper-->



</body>
</html>
