<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>CampuStudy Home</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1,  minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="common/css/app.min.css">
<script src="common/js/jQuery2.0.2.min.js"></script>
<script src="common/js/main.min.js"></script>

</head>

<body>

<div class="app-wrapper">

<nav class="main-menu">
<h1>  Sort By:</h1>
<a href="#">Distance</a>
<a href="#">Time</a>
<a href="#">Professor</a>
<a href="#">Friends</a>
<div class = "help"><h1><a href = "creditsscreen.html"> Help </a></h1></div>


</nav><!--#main-menu-->

<header>
<div class="main-menu-button main-menu-button-left"><a class="menu">&nbsp;</a></div>
<div class="main-menu-button main-menu-button-right"> <a class="course" href = "settings">&nbsp;</a></div>
<h1>CampuStudy</h1>
</header>

<div class="app-content">
<div class="tabbed-list-view-nav">
{{#each owner}}
<a href="#" class="span-20"> {{course}}</a>
{{/each}}
<!-- <div class="tabbed-list-view-nav-arrow">&nbsp;</div>-->

</div>


<div class="detail-view-header left-thumb with-action-panel">
    <div class="content">
            <a href = "mapview2" >&nbsp; Map </a>
           <!-- <a href="#" class="action-map open-modal">&nbsp;</a></a>-->
    </div><!--.content-->
</div><!--.detail-view-header-->


<ul class="tabbed-list-view">

<!-- For each tab-->
<li>
    <ul class="list-view left-thumbs right-one-icons">
    <!-- for each course with listings-->
    {{#each cse12}}
        <li>
            <a href="detailview1/{{sessionid}}" class="content">
                <h2>{{name}} </h2>
                <p>Location: {{location}}</p>
                <p> Time left: {{timeleft}}</p>
                <p>Professor: {{professor}}</p>
                <div class="list-view-icons">
                    <span class="icon-right-arrow">&nbsp;</span>
                </div>
            </a> 
        </li>
    {{/each}}
    </ul>
</li>

 <li>
    <ul class="list-view left-thumbs right-one-icons">
        {{#each phys2a}}
        <li>
            <a href="detailview1/{{sessionid}}" class="content">
                <h2>{{name}} </h2>
                <p>Location: {{location}}</p>
                <p> Time left: {{timeleft}}</p>
                <p>Professor: {{professor}}</p>
                <div class="list-view-icons">
                    <span class="icon-right-arrow">&nbsp;</span>
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
</li>

<li>
    <ul class="list-view left-thumbs right-one-icons">
        {{#each cogs120}}
        <li> 
            <a href="detailview1/{{sessionid}}" class="content">
                <h2>{{name}} </h2>
                <p>Location: {{location}}</p>
                <p> Time left: {{timeleft}}</p>
                <p>Professor: {{professor}}</p>
                <div class="list-view-icons">
                    <span class="icon-right-arrow">&nbsp;</span>
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
</li>

</ul><!--.tabbed-list-view-->
    
</div><!--#app-content-->

    <div class = "mysessions2">
      <a href="sessions">
        <div class="footer2">My Sessions</div>
      </a>
    </div>

</div>
<!--#app-wrapper-->

</body>
</html>
